*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background-image: url('../img/nature bg.jpg');
    background-size: cover;
}

.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.title{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px;
    font-weight: 100;
    font-size: 30px;
}

.mt-50{
    margin-top: 50px;
}

.col{
    display: flex;
    width: 1000px;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.col div{
    width: 250px;
    text-align: center;
    margin-top: 10px;
}

.col input{
    width: 50%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}